<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBHHx4Qb6WzNeKbgXAG0gQ8KGrfO92dxb8</string>
	<key>GCM_SENDER_ID</key>
	<string>243209972551</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projekUts.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>apihpfirebase</string>
	<key>STORAGE_BUCKET</key>
	<string>apihpfirebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:243209972551:ios:b12f55b98535073adfba62</string>
	<key>DATABASE_URL</key>
	<string>https://apihpfirebase-default-rtdb.firebaseio.com</string>
</dict>
</plist>